<%- include ("partials/header") -%>
	<div style="position:relative;overflow:hidden;width:100vw;height:100vh;" id="site-frame">
		<iframe id="iframe" src=""></iframe>	
	</div>
	
	<script>
		var url = document.getElementById("iframe").src="<%=url%>"
		var scaleFactor = 1;
		setInterval(function(){
			var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
			var iframe = document.getElementById("iframe");
			var iframeBox = iframe.getBoundingClientRect();
			var siteFrame = document.getElementById("site-frame").getBoundingClientRect();
			/*console.log("Site frame: "+siteFrame.width)
			console.log("Simulator: "+iframeBox.width);
			console.log("Scale factor: "+scaleFactor);
			console.log("-----------------------------------")*/
			var heightFits = false;
			var widthFits = false;
			if(iframeBox.width<siteFrame.width || iframeBox.width<siteFrame.width-siteFrame.width*0.01){
				//width fits
				//console.log("width fits")
				widthFits = true;
			}else if(iframeBox.width>siteFrame.width){
				scaleFactor = scaleFactor - 0.02*scaleFactor;
				iframe.setAttribute("data-scale",scaleFactor);
				iframe.setAttribute("style","transform:scale("+scaleFactor+")");
			}else if(iframeBox.width<siteFrame.width){
				scaleFactor = scaleFactor + 0.02*scaleFactor;
				iframe.setAttribute("data-scale",scaleFactor);
				iframe.setAttribute("style","transform:scale("+scaleFactor+")");
			}

			if(iframeBox.height<siteFrame.height || iframeBox.height<siteFrame.height-siteFrame.height*0.01){
				//height fits
				heightFits = true;
			}else if(iframeBox.height>siteFrame.height){
				scaleFactor = scaleFactor - 0.02*scaleFactor;
				iframe.setAttribute("data-scale",scaleFactor);
				iframe.setAttribute("style","transform:scale("+scaleFactor+")");
			}else if(iframeBox.height<siteFrame.height){
				scaleFactor = scaleFactor + 0.02*scaleFactor;
				iframe.setAttribute("data-scale",scaleFactor);
				iframe.setAttribute("style","transform:scale("+scaleFactor+")");
			}

			if(heightFits && widthFits){
				if(iframeBox.width<siteFrame.width-0.03*siteFrame.width && iframeBox.height<siteFrame.height-0.03*siteFrame.height){
					scaleFactor = scaleFactor + 0.02*scaleFactor;
					iframe.setAttribute("data-scale",scaleFactor);
					iframe.setAttribute("style","transform:scale("+scaleFactor+")");
				}
			}

		},50)
	</script>
<%- include ("partials/footer") -%>