<%- include ("partials/header") -%>
	<div class="message">
		<div class="messageWrap">
			Your simulator is still being booted up. This process may take up to 6 minutes. We will automatically refresh the status and you will see the simulator once it is ready.<br>&nbsp;<br>Thanks for your patience.
		</div>
		<script>
			setTimeout(function(){
				window.location.reload();
				console.log("Reloaded")
			},3000)
		</script>
	</div>
<%- include ("partials/footer") -%>